# macOS
.DS_Store

# VS Code local settings (optional)
.vscode/

# Firebase local state
.firebase/
firebase-debug.log

# Archives / temp
*.zip
_tmp/
dist/

# Ignore all Node.js dependencies
**/node_modules/

